.vs
Binaries
Config
Content
DerivedDataCache
Intermediate
Playforms
Saved
Build
.vsconfig
*.uproject
*.sdf
*.sln
*.suo
*.opensdf
*.opendb
*.db
Source/MakingDialogue
Source/MakingDialogue.Target.cs
Source/MakingDialogueEditor.Target.cs
NoCommit